*, *:before, *:after {
  box-sizing: border-box;
}

.masthead {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0px;
  z-index: 1;
  text-align: center;
}

.map {
  position: relative;
  top: 100px;
  text-align: center;
  max-width: 1800px;
  min-width: 1800px;
}

#world-map {
  position: relative;
}

.species {
  position: absolute;
}


p {
  display: none;
}

.species-photo:hover ~ p {
  display: block;
  background-color: white;
  width: 150px;
  padding: 5px;
  border-radius: 5%;
}

#beluga-photo:hover ~ p {
  position: absolute;
  bottom: 20px;
  left: 150px;
}

#gold-cat-photo:hover ~ p {
  position: absolute;
  bottom: 10px;
  left: 120px;
}

#beluga {
  position: absolute;
  bottom: 230px;
  left: 860px;
}

#gold-cat {
  position: absolute;
  bottom: 430px;
  left: 900px;
}

#gold-cat img {
  width: 100px;
  margin-bottom: 20px;
}

.species-photo {
  position: relative;
}








































/*body {
  margin: 0;
  background-color: #f9f7f1;
}

.masthead {
  position: fixed;
  width: 100%;
  min-width: 1800px;
  max-width: 1800px;
  top: 0px;
  font-family: 'Amatic SC';
  font-size: 3em;
  z-index: 2;
}

h1 {
  margin: 0 auto 0 auto;
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.5);
  width: 1800px;
  text-align: center;
}

h1:before, h1:after{
  content:url("../img/skull.png");
}

.map {
  position: relative;
  height: auto;
  width: 100%;
  margin: 125px auto 0 auto;
}

.animal img {
  height: 80px;
  border-radius: 10%;
  border: solid white 3px;
}

.description {
  position: absolute;
  background-color: rgb(252, 255, 225);
  border: solid white 2px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  display: none;
}

.arrow {
  border-left: solid white 2px;
  border-top: solid white 2px;
  background: rgb(252, 255, 225);
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  margin-left: 30px;
  margin-top: 10.5px;
  display: none;
}

.photo:hover {
  box-shadow: 0px 0px 50px;
  color: #2f4c6a;
}

.photo:hover ~ .description {
  display: block;
}

.photo:hover ~ .arrow {
  display: block;
}

#beluga-whale {
  position: absolute;
  top: 730px;
  left: 800px;
}

#golden-cat {
  position: absolute;
  top: 300px;
  left: 850px;
}

#wallaby {
  position: absolute;
  top: 600px;
  left: 1450px;
}*/
